# Ignore all
*

# Except these
!.gitignore

!waybar/
!waybar/*

!swaylock/
!swaylock/*

!hypr/*
!hypr/

!tmux/*
!tmux/

!fish/*
!fish/

!alacritty/*
!alacritty/

!hyprland-autoname-workspaces/*
!hyprland-autoname-workspaces/
